# pycache
/__pycache__/*
**.DS_Store
**.pdf
**.h5
**.pyc
**.zip
**.csv
!CellTOSG_Loader/**/*.csv
**.tsv
**.txt
**.log

# data download
/download_links.txt
/download.sh

# BioMedGraphica
/BioMedGraphica/*
/BMG/*

# Datasets
/CellTOSG_dataset/*
/Baseline_model_data/*
/sc_meta_cell/*
/sc_raw_data/*
/**dataset**/*
/Output/*
/Output_old/*
/Data/*
/**Output**/*
/OmniCellTOSG_v1/*
/mapping_table/*

OmniCellTOSG_Dataset/*
test_results/*

# Model Checkpoints
/Checkpoints/*
dna_gpt0.1b_h.pth
pretrained_glm.pt

# Model results
/**Results**/*
/Baseline_model_results/*
/CellTOSG_model_results/*
/GDA_results/*

# Analysis_results
/CellTOSG_analysis_results/*

# Models
/desert/*
dataload_test.ipynb
metadata.md
data_read.ipynb

# Others
/plot/*
/heatmap_plot/*
/archive/*
/test.py
/wandb/*
/logs/*
/task_launcher/*
/model_results_sum/*
/downstream_analysis/*
/figure2/*
*data_extract*.py
dnn_train.py
upload_to_box.py
generate_embedding.py
generate_embedding.ipynb
sum_model_results.py
plot_gene_bar_plot.py
node_p_value_analysis.py
match_npy2labels.py
sum_model_results.py
inspect_ckpt.py
exam_data.py

**/run_*.sh
**/generate_*.py
download_from_box.py
