anndata==0.11.4
annotated-types==0.7.0
cellxgene-census==1.17.0
h5py==3.13.0
numpy==1.26.4
openpyxl==3.1.5
pandas==2.2.3
pyarrow==20.0.0
pynvml==12.0.0
PyYAML==6.0.1
pyzmq==27.1.0
scanpy==1.11.1
scikit-learn==1.5.2
scipy==1.15.2
seaborn==0.13.2
SEACells==0.3.3
tokenizers==0.19.1
torch
torch-geometric
tqdm==4.67.1
transformers==4.40.2
wandb==0.21.0